:root {
  --default-text-color: #212121;
}

.title-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-bar-title-container {
  display: flex;
  align-items: center;
}

.album-segment {
  color: var(--default-text-color);
}

.album-segment:hover {
  cursor:pointer;
}