:root {
  --default-text-color: #40576e;
  --text-color2: #212121;
  --color-primary: #00a1ca;
  --color-secondary: #4c5d70;
  --color-ctx-1: #69809b;
  --color-ctx-2: #e1e8ef;
  --color-ctx-3: #f9f7df;
  --color-ctx-4: #485d72;
  --color-ctx-5: #69c97c;
  --color-ctx-6: #068a20;
  --color-ctx-7: #e2623d;
  /* hover highlight */
  --color-ctx-8: #cce9f0;
  --color-ctx-9: #cce0f0;
    /* tables and form highlightiing */
  --color-ctx-10: #bfc4ca;
}

body {
  position:relative;
  display:block;
  overflow-x:hidden;
  background:var(--color-ctx-2);
}

button.pm-button:active {
  transform: scale(.95);
}

button.ui.primary.button.pm-button {
  background:var(--color-ctx-6);
}

.pm-input {
  /* border:1px solid var(--color-ctx-10); */
  border-radius:5px;
}

#navbar {
  background: var(--color-primary);
  height:60px;
  border-radius:0px;
  margin:0;
}

#navbar > * {
  color:#fff;
}

#navbar .dropdown {
  color:#fff;
}

#mega-menu .ui.pointing.dropdown.link.item {
  border:1px solid #fff;
  border-radius:3px;
  padding-top:10px;
  padding-bottom:10px;
}

.layout-main {
  min-height:15em;
  margin-top:0;
  background:var(--color-ctx-2);
  padding:0;
  display:flex;
  flex-flow:column nowrap;
  justify-content: stretch;
  position: relative;
  margin: 0;
  border:0;
  vertical-align: baseline;
}

.layout-main__content {
  border-top: 1rem solid var(--color-ctx-2) !important;
  border-left: 1rem solid var(--color-ctx-2) !important;
  border-right: 1rem solid var(--color-ctx-2) !important;
  padding:2rem;
  background:#fff;
  flex: 1 1 auto;
  margin:0;
  border:0;
  vertical-align:baseline;
}

.title-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-bar-title-container {
  display: flex;
  align-items: center;
}

.title-bar-actions-container {
  display:flex;
  align-items:center;
}

.album-segment {
  color: var(--default-text-color);
  display:flex;
  align-items:center;
}

.album-segment:hover {
  cursor:pointer;
  background: var(--color-ctx-8);
}

.album-segment__main-content {
  margin-left:25px;
}

.photo-drag-handle {
  width:100%;
  height:35px;
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0px;
  padding:0px;
  left:0px;
  z-index:2;
  background: rgba(255, 255, 255, .2);
}

.photo-drag-handle:hover {
  cursor:move;
}

.album-drag-handle {
  width:35px;
  height:35px;
  border-radius:100%;
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0px;
  padding:0px;
  left:0px;
}

.album-drag-handle:hover {
  background: var(--color-ctx-2);
}

.album-drag-handle .icon,
.photo-drag-handle .icon {
  margin:0px;
  padding:0px;
}

.pm-image-thumbnail-grid-wrapper {
  display:flex;
  flex-wrap:wrap;
}

.pm-image-thumbnail-grid-item-container {
  height:200px;
  width:200px;
  border:1px solid var(--color-ctx-10);
}

.pm-photo-sort-position {
  z-index:3;
  position:absolute;
  padding:8px;
  right:0px;
}

.pm-photo-sort-position span {
  color:var(--default-text-color);
  font-size:1.3rem;
}

.ui.card > .ui.image img {
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}

.pm-fullsize-image-container img {
  max-width:100%;
}

.ui.button.pm-button--sidebar-toggle {
  position:absolute;
  top:8px;
  left:8px;
  z-index:3;
  background:#fff;
  border:1px solid var(--color-ctx-2);
}

.ui.button.pm-button--sidebar-toggle:active {
  transform: scale(.95);
}